{% extends 'base.html.twig' %}
{% block body %}
<section class="pagesSection" style="background-image: url('{{ asset("croixGrey.png") }}');">
{% set counter = 0 %}
{% for posts in post %}
    {% if counter is divisible by(2) %}
        <div class="container-fluid pt-5 pb-5">
            <div class="row content">
                <div class="col-lg-12 subContent">
                    <h1 class="fw-bolder pb-5 text-center">{{ posts.title }}</h1> 
                    {% if posts.mediaUrl is not null %}
                    <img class="img-fluid rounded-5 imgL" src="upload/images/{{ asset(posts.mediaUrl) }}">
                    {% endif %}
                    <p>{{ posts.content|striptags|replace({'&nbsp;': ''}) }}</p>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container-fluid pt-5 pb-5">
            <div class="row content">
                <div class="col-lg-12 subContent">
                    <h1 class="fw-bolder pb-5 text-center">{{ posts.title }}</h1> 
                    {% if posts.mediaUrl is not null %}
                    <img class="img-fluid rounded-5 imgR" src="upload/images/{{ asset(posts.mediaUrl) }}">
                    {% endif %}
                    <p>{{ posts.content|striptags|replace({'&nbsp;': ''}) }}</p>
                </div>
            </div>
        </div>
    {% endif %}

    {% set counter = counter + 1 %}
{% endfor %}
</section>
{% endblock %}