{% extends 'base.html.twig' %}

{% block body %}

<section class="container" id="home">
    <div class="row">
        <div class="col-6" id="home_description">
            <h1 class="display-4 fst-italic text-center text-dark">La Clunysoise</h1>
            <section class="text-center" id="compteur">
                <span class="countText fw-bold text-dark"><span class="count fw-bold">421 </span> Intervention ainsi que </span>
                <span class="countText fw-bold text-dark"><span class="count fw-bold">45 </span> Urgences par jour,</span>
                <span class="countText fw-bold text-dark"><span class="count fw-bold">28 </span> Salarié </span>
              </section>
            <p class="lead text-center text-dark pe-5 ps-5">L'entreprise « La Clunysoise » est une société d'ambulances privée située à Cluny. Avec à disposition des ambulances, des VSL, mais aussi des taxis.La Clunysoise apporte une réponse efficace et dynamique à toute demande de transports médicalisés ou non tout en participant activement aux besoins permanents d'interventions d'urgences et transferts inter hospitaliers effectués en collaboration avec le Samu et le centre d'appel 15.</p>
        </div>

        <div class="col-6" id="home_carrousel">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-photo text-center">

                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="{{ asset('car1.jpg') }}" class="d-block center-block" alt="...">
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="{{ asset('car2.jpg') }}" class="d-block center-block" alt="...">
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="{{ asset('car3.jpg') }}" class="d-block center-block" alt="...">
                        </div>
                    </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                
            </div>
        </div>

        <div class="col-6" id="home-buttons">
            <section class="d-flex justify-content-center" id="buttons">
                <button type="button" class="btn bg-primary"><a class="text-white text-decoration-none" href="/contact">Contactez Nous</a></button>
                <button type="button" class="btn bg-primary"><a class="text-white text-decoration-none" href="/vos-rendez-vous">Prenez Rendez-Vous</a></button>
                <button type="button" class="btn bg-primary"><a class="text-white text-decoration-none" href="/nous-rejoindre">Rejoignez Nous</a></button>
            </section>
        </div>

        <div class="col-6">

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner text-center">

                    <a href="/a-propos">
                        <div class="carousel-item active mt-5" data-bs-interval="2000">
                            <h2><span class="countText fw-bold text-dark"><span class="count fw-bold">5 </span> Ambulances </span></h2>
                        </div>
                    </a>

                    <a href="/a-propos">
                        <div class="carousel-item mt-5" data-bs-interval="2000">
                            <h2><span class="countText fw-bold text-dark"><span class="count fw-bold">10 </span> VSL </span></h2>
                        </div>
                    </a>

                    <a href="/a-propos">
                        <div class="carousel-item mt-5" data-bs-interval="2000">
                            <h2><span class="countText fw-bold text-dark"><span class="count fw-bold">8 </span> Taxi</span></h2>
                        </div>
                    </a>

                </div>
            </div>

        </div>

    </div>
</section>

<section id="grid_gallery" style="background-image: url('{{ asset("background.png") }}');">

    <h2 class="text-center pt-5">Amublance La Clunysoise Actus</h2>
    <div class="container">
        <div class="row justify-content-center">
            {% set switchBox = false %}

            {% for posts in post %}
                {% if loop.index is odd %}
                    {% if switchBox %}
                        <a href="{{ path('app_posts_show', {'slug': posts.slug}) }}" class="box-image tile d-flex align-items-center justify-content-center text-decoration-none boxTwo" style="background-image:linear-gradient(rgba(58, 58 ,58 ,0.3), rgba(58, 58 ,58 , 0.6)), url('upload/images/{{ asset(posts.mediaUrl) }}')">
                    {% else %}
                        <a href="{{ path('app_posts_show', {'slug': posts.slug}) }}" class="box-image tile d-flex align-items-center justify-content-center text-decoration-none boxOne" style="background-image:linear-gradient(rgba(58, 58 ,58 ,0.3), rgba(58, 58 ,58 , 0.6)), url('upload/images/{{ asset(posts.mediaUrl) }}')">
                    {% endif %}
                        <div>
                            <h1>{{ posts.title }}</h1>
                            <p class="animate-text text-white">{{ posts.description | striptags | slice(0, 310)}}</p>
                        </div>
                    </a>
                {% else %}
                    {% if switchBox %}
                        <a href="{{ path('app_posts_show', {'slug': posts.slug}) }}" class="box-image tile d-flex align-items-center justify-content-center text-decoration-none boxOne" style="background-image:linear-gradient(rgba(58, 58 ,58 ,0.3), rgba(58, 58 ,58 , 0.6)), url('upload/images/{{ asset(posts.mediaUrl) }}')">
                    {% else %}
                        <a href="{{ path('app_posts_show', {'slug': posts.slug}) }}" class="box-image tile d-flex align-items-center justify-content-center text-decoration-none boxTwo" style="background-image:linear-gradient(rgba(58, 58 ,58 ,0.3), rgba(58, 58 ,58 , 0.6)), url('upload/images/{{ asset(posts.mediaUrl) }}')">
                    {% endif %}
                        <div>
                            <h1>{{ posts.title }}</h1>
                            <p class="animate-text text-white">{{ posts.description | striptags | slice(0, 310)}}</p>
                        </div>
                    </a>
                {% endif %}

                {% if loop.index is divisible by 2 %}
                    {% set switchBox = not switchBox %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<div class="row rounded bg-transparent">
<h2 class="pb-3 pt-3 text-center ">Où nous trouver</h2>
    <iframe class="google_home" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10998.152493979294!2d4.6545993!3d46.4380336!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f30aeb8182f371%3A0xbf3199329fef4a95!2sLA%20CLUNYSOISE%20AMBULANCES%20ET%20TAXIS!5e0!3m2!1sfr!2sfr!4v1689589206519!5m2!1sfr!2sfr" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


{% endblock %}
