{% extends 'base.html.twig' %}


{% block body %}

{% set counter = 0 %}

{% for posts in post %}

    {% if counter is divisible by(2) %}

        <section class="join_boxone border-top">
            <div class="row">

                <div class="col-5 d-flex">
                    {% if posts.mediaUrl is not null %}
                        <img class="align-middle" src="upload/images/{{ asset(posts.mediaUrl) }}">
                    {% endif %}
                </div>

                <div class="col-7">
                    <h1 class="text-center">{{ posts.title }}</h1>
                    <p>{{ posts.content|striptags|replace({'&nbsp;': ''}) }}</p>
                </div>

            </div>
        </section>

        {% else %}

        <section class="join_boxone border-top">
            <div class="row">

                <div class="col-7">
                    <h1 class="text-center">{{ posts.title }}</h1>
                    <p>{{ posts.content|striptags|replace({'&nbsp;': ''}) }}</p>
                </div>

                <div class="col-5 d-flex">
                    {% if posts.mediaUrl is not null %}
                        <img class="align-middle" src="upload/images/{{ asset(posts.mediaUrl) }}">
                    {% endif %}
                </div>

            </div>
        </section>
        
    {% endif %}
    
    {% set counter = counter + 1 %}
{% endfor %}

{# Vérifiez si le formulaire est défini avant de le rendre #}
{% if formulaire is defined %}
    {{ form_start(formulaire) }}
    {{ form_widget(formulaire) }}
    <button type="submit">Envoyer</button>
    {{ form_end(formulaire) }}
{% else %}
    {# Le formulaire n'est pas défini, vous pouvez afficher un message ou une autre action #}
    <p>Le formulaire n'est pas disponible pour le moment.</p>
{% endif %}

{# Vérifiez si $post est défini avant de l'utiliser #}
{% if post is defined %}
    {# Votre code pour afficher les posts ici #}
{% endif %}

{% endblock %}