{% extends 'base.html.twig' %}


{% block body %}

{% set counter = 0 %}

{% for posts in post %}

    {% if counter is divisible by(2) %}

        <section class="join_boxone border-top">
            <div class="row">

                <div class="col-5 d-flex">
                    {% if posts.mediaUrl is not null %}
                        <img class="align-middle" src="upload/images/{{ asset(posts.mediaUrl) }}">
                    {% endif %}
                </div>

                <div class="col-7">
                    <h1 class="text-center">{{ posts.title }}</h1>
                    <p>{{ posts.content|striptags|replace({'&nbsp;': ''}) }}</p>
                </div>

            </div>
        </section>

        {% else %}

        <section class="join_boxone border-top">
            <div class="row">

                <div class="col-7">
                    <h1 class="text-center">{{ posts.title }}</h1>
                    <p>{{ posts.content|striptags|replace({'&nbsp;': ''}) }}</p>
                </div>

                <div class="col-5 d-flex">
                    {% if posts.mediaUrl is not null %}
                        <img class="align-middle" src="upload/images/{{ asset(posts.mediaUrl) }}">
                    {% endif %}
                </div>

            </div>
        </section>
        
    {% endif %}
    
    {% set counter = counter + 1 %}
{% endfor %}

<div class="container">
    <section class="row border-top">

        <div class="col-10 offset-1">

        {{ form(formulaire)}}

        </div>
    </section>
</div>

{% endblock %}