{% extends 'base.html.twig' %}
{% block body %}
{% set counter = 0 %}
{% for posts in post %}
    {% if counter is divisible by(2) %}
    <section class="pages-section" style="background-image: url('{{ asset("croixGrey.png") }}');">
        <h1 class="titles-top fst-italic fw-bolder text-center">Prise en charge - Tarification</h1>
        <div class="container-fluid pt-5 pb-5">
            <div class="row content">
                <div class="col-lg-12 sub-content">
                    <h1 class="pb-5 text-center fade-in-up" id="support_title">{{ posts.title }}</h1> 
                    {% if posts.mediaUrl is not null %}
                    <img class="img-fluid rounded-5 img-left fade-in-left" id="support_img" src="upload/images/{{ asset(posts.mediaUrl) }}">
                    {% endif %}
                    <div class="fade-in-right" id="support_content">{{ posts.content|raw }}</div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container-fluid pt-5 pb-5">
            <div class="row content">
                <div class="col-lg-12 sub-content">
                    <h1 class="pb-5 text-center">{{ posts.title }}</h1> 
                    {% if posts.mediaUrl is not null %}
                    <img class="img-fluid rounded-5 img-right" src="upload/images/{{ asset(posts.mediaUrl) }}">
                    {% endif %}
                    <p>{{ posts.content|raw }}</p>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% set counter = counter + 1 %}
{% endfor %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Sélectionnez les éléments
        const support_title = document.getElementById("support_title");
        const support_img = document.getElementById("support_img");
        const support_content = document.getElementById("support_content");

        // Ajoutez une classe pour déclencher les animations fadeIn
        support_title.classList.add("animate-fade-in-up");
        support_img.classList.add("animate-fade-in-left");
        support_content.classList.add("animate-fade-in-right");
    });
</script>
{% endblock %}