<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ambulance La Clynysoise{% endblock %}</title>
        <link rel="icon" type="image/svg" href="{{ asset('favicon.svg') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}            
            
        {% endblock %}
    </head>

    {{ include("header.html.twig") }}
    <body>
        {% block body %}
        <script src="{{ asset('path/to/tinymce/tinymce.min.js') }}"></script>
        <script>
            tinymce.init({
                selector: '.tinymce',
            });
        </script>
        {% endblock %}
    </body>
    {{ include("footer.html.twig") }}
    
</html>